
header .navbar {
    border-radius: 0px;
}

#header.top-head {
    background: #fff;
}

header .navbar-default {
    background-color: transparent;
    border: none;
    margin-bottom: 0px;
    position: relative;
    -webkit-box-shadow: 0 15px 19px -19px rgba(0, 0, 0, 0.1);
    box-shadow: 0 15px 19px -19px rgba(0, 0, 0, 0.1);
}

header .navbar-default .navbar-header {
    z-index: 1030;
    position: relative;
    background: #fff;
}

/*== Logo ==*/

.navbar-brand {
    float: left;
    padding: 21px 15px;
    font-size: 18px;
    line-height: 20px;
    height: 66px;
    border-right: 1px solid #e8e8e8;
}

.web-sh.navbar-form {
    padding: 16px 15px;
    margin: 0px;
    width: 72%;
    border: none;
}

.left-rs {}

.navbar-brand>img {
    width: 90px;
}

.web-sh.navbar-form input {
    width: 100%;
    background: none;
    border: none;
    box-shadow: none;
    background-repeat: no-repeat;
    background-position: left;
    padding-left: 30px;
    color: #474747;
    font-weight: 400;
}
.web-sh.navbar-form input:focus {
    border: 1px solid white;
}

.web-sh.navbar-form input::-webkit-input-placeholder {
    /* Chrome */
    color: white;
}

.web-sh.navbar-form input:-ms-input-placeholder {
    /* IE 10+ */
    color: white;
}

.web-sh.navbar-form input::-moz-placeholder {
    /* Firefox 19+ */
    color: white;
    opacity: 1;
}

.web-sh.navbar-form input:-moz-placeholder {
    /* Firefox 4 - 18 */
    color: white;
    opacity: 1;
}

.iq-search .search-btn span {
    font-size: 0;
}

/*== Search Bar ==*/

.search-box {
    background: #fff;
    display: block;
    margin: 0;
    opacity: 0 !important;
    padding: 15px;
    position: absolute;
    right: 0;
    top: -9999px !important;
    transition: visibility 300ms ease 0s, opacity 300ms ease 0s;
    visibility: hidden;
    width: 327px;
    z-index: 888;
    -webkit-box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2);
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2);
}

.iq-search .search-box input {
    background: transparent;
    border-radius: 0;
    border: 1px solid #eee;
    padding-left: 15px;
    box-shadow: none;
    color: #666;
}

.iq-search i {
    cursor: pointer;
    font-size: 18px;
    position: absolute;
    right: 27px;
    top: 24px;
}

.iq-search .search-btn::before {
    content: "\f002";
    font-family: "FontAwesome";
    font-size: 14px;
    font-weight: normal;
    left: 0;
    position: absolute;
    text-indent: 0;
    top: 50%;
    margin-top: -9px;
}

.iq-search.search-open .search-btn::before {
    content: "\f00d ";
}

.sidebar-nav {
    position: absolute;
    top: 66px;
    width: 100%;
    list-style: none;
    margin: 0;
    padding: 0;
}

#sidebar {
    margin-right: -100%;
    right: 0;
    width: 100%;
    background: #09294c;
    position: fixed;
    height: 100%;
    overflow-y: auto;
    z-index: 1000;
    top: 0;
    -webkit-transition: all .6s cubic-bezier(.19, 1, .22, 1);
    transition: all .6s cubic-bezier(.19, 1, .22, 1);
}

.top-nav ul {
    margin: 0px;
    padding: 0px;
}

.top-nav ul li {
    padding: 10px 20px;
}

.top-nav ul li a {
    color: #fff;
    font-size: 14px;
    font-weight: 400;
}

#sidebar.active {
    right: 100%;
    width: 100%;
    transition: all .5s ease-out 0s;
    -webkit-transition: all .5s ease-out 0s;
    -moz-transition: all .5s ease-out 0s;
    -ms-transition: all .5s ease-out 0s;
    -o-transition: all .5s ease-out 0s;
}
.list-menu-main li a {
    position: relative;
}
.list-menu-main li a:after {
    position: absolute;
    content: "";
    width: 0%;
    height: 3px;
    border-radius: 5px;
    bottom: -5%;
    left: auto;
    right: 0;
    transition: 0.5s;
    background: white;
}
.list-menu-main li a:hover:after {
    width: 100%;
    left: 0;
    right: auto;
}
.right-nav {
    float: right;
    padding-right: 10px;
}

.login-sr {
    float: right;
    margin-left: 15px;
}

.login-signup {
    padding: 13px 0px;
}

.login-signup ul {
    margin: 0px;
    padding: 0px;
    list-style: none;
}

.login-signup ul li {
    display: inline-block;
}

.login-signup ul li a {
    font-family: 'Raleway', sans-serif;
    font-weight: 300;
    color: #636363;
    text-decoration: none;
    font-size: 14px;
    display: block;
    padding: 10px 23px;
}

.login-signup ul li a:hover {
    color: #1e96ff;
}

.login-signup ul li a.custom-b {
    background: #09294c;
    border-radius: 3px;
    font-family: 'Raleway', sans-serif;
    font-weight: 500;
    color: #fff;
    padding: 10px 23px;
}

.login-signup ul li a.custom-b:hover {
    background: #1d99ff;
}

.fixed-menu {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 999;
    background-color: #ffffff;
    transition: 0.5s;
    padding: 0px;
    box-shadow: 0 15px 19px -19px rgba(0, 0, 0, 0.1);
}

.nav-b {
    float: right;
}

.nav-box {
    margin: 10px 0px;
    border-right: 1px solid #dcdcdc;
    border-left: 1px solid #dcdcdc;
    padding: 0px 15px;
}

.nav-box ul {
    padding: 12px 0px;
}
.nav-box ul li {
    display: inline-block;
}

.nav-box ul li a {
    font-family: 'Raleway', sans-serif;
    font-weight: 300;
    color: #636363;
    text-decoration: none;
    font-size: 14px;
    margin: 0px 10px;
    padding: 10px 0;
    font-weight: 400;
}

.nav-box ul li a:hover {
    color: #1e96ff;
}
